services:
  merge:
    build:
      context: ./merge
      dockerfile: Dockerfile
    container_name: pentaas_merge
    environment:
      TARGET: ${TARGET}
      DATA_DIR: ${DATA_DIR}
    volumes:
      - ${DATA_DIR}:${DATA_DIR}
    network_mode: bridge
