services:
  merge:
    build:
      context: ./merge
      dockerfile: Dockerfile
    container_name: pentaas_merge
    environment:
      - TARGET=${TARGET}
      - DATA_DIR=${DATA_DIR}
    volumes:
      - ./reports:/app/reports
    network_mode: bridge
